[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
requests = "*"
pytest = "*"
pytest-asyncio = "*"
mock = "*"
pytest-mock = "*"
urllib3 = "*"
aiohttp = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
