[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
requests = "*"
pytest = "*"
pytest-asyncio = "*"
mock = "*"
pytest-mock = "*"
urllib3 = "*"
aiohttp = "*"
asyncio = "*"
bs4 = "*"
cloudmersive-validate-api-client = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
